<div id="<%= dom_id fabrication_record %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Project:</strong>
    <%= fabrication_record.project_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Record month:</strong>
    <%= fabrication_record.record_month %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Tonnes fabricated:</strong>
    <%= fabrication_record.tonnes_fabricated %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Allowed rate:</strong>
    <%= fabrication_record.allowed_rate %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Allowed amount:</strong>
    <%= fabrication_record.allowed_amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Actual spend:</strong>
    <%= fabrication_record.actual_spend %>
  </div>
</div>
