<div id="<%= dom_id budget_allowance %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Project:</strong>
    <%= budget_allowance.project_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Budget category:</strong>
    <%= budget_allowance.budget_category_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Budgeted amount:</strong>
    <%= budget_allowance.budgeted_amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Actual spend:</strong>
    <%= budget_allowance.actual_spend %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Variance:</strong>
    <%= budget_allowance.variance %>
  </div>
</div>
