<div id="<%= dom_id tender %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">E number:</strong>
    <%= tender.e_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= tender.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Client name:</strong>
    <%= tender.client_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Tender value:</strong>
    <%= tender.tender_value %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Project type:</strong>
    <%= tender.project_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= tender.notes %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Awarded project:</strong>
    <%= tender.awarded_project_id %>
  </div>
</div>
