<div id="<%= dom_id material_supply_rate %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Rate:</strong>
    <%= material_supply_rate.rate %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Unit:</strong>
    <%= material_supply_rate.unit %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Material supply:</strong>
    <%= material_supply_rate.material_supply_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Supplier:</strong>
    <%= material_supply_rate.supplier_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Monthly material supply rate:</strong>
    <%= material_supply_rate.monthly_material_supply_rate_id %>
  </div>
</div>
